
<section class="content-filter container-fluid">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            All
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('action')">Action</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('animation')">Animation</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('comedy')">Comedy</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('drama')">Drama</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('fantasy')">Fantasy</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('horror')">Horror</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('mystery')">Mystery</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('romance')">Romance</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('sci-fi')">Sci-Fi</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('thriller')">Thriller</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByGenre('more')">More</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            {{ filter.value === 'tv-show' ? 'TV-Shows' : 'Movies' }}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByType('movie')">Movies</a></li>
            <li><a class="dropdown-item rounded-2" href="#" (click)="filterByType('tv-show')">TV-Shows</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Providers
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item rounded-2" href="#">Netflix</a></li>
            <li><a class="dropdown-item rounded-2" href="#">Amazon Prime</a></li>
        </ul>
    </div>
    <div class="search-filter me-5">
        <form (submit)="filterResults(filter.value); $event.preventDefault()">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search by Title" #filter>
            </div>
        </form>
    </div>
</section>
<section class="ad-section-container">
    <div class="container text-bg-dark border border-info">
        <div class="row">
            <h1 class="text-center">This area is reserved for ads</h1>
        </div>
    </div>
</section>
<section class="results p-4 border-bottom border-info">
    <div *ngIf="filteredContents.length == 0" class="no-favorites text-center" style="height: 100vh;">
        <h1>No results containing you search terms.</h1>
        <p>Try different keywords</p>
        <p>Try searching for a movie or TV show by title</p>
        <p>Looking for a movie or TV show?</p>
    </div>
    <div class="container py-4">
        <div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-5 gx-2 gy-2">
            <div *ngFor="let content of pagedItems" class="wrapper">
                <div class="col">
                    <div class="card card-results">
                        <a [routerLink]="['content', content.tmdb_id]">
                            <img src={{content.poster}} class="card-img-top" alt="...">
                        </a>
                        <button class="favorite-btn" title="Add to Favorites" (click)="addToFavorites(content.tmdb_id); $event.stopPropagation()"></button>
                    </div>
                    <h3 class="content-title">{{content.title}}</h3>
                </div>
            </div>
        </div>
        <pagination class="justify-content-center home-pagination" [totalItems]="filteredContents.length" 
            [itemsPerPage]="pageSize" (pageChanged)="setPage($event.page)">
        </pagination>
    </div>
</section>

