div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

.card-deck-scrollable{
    @extend .card-deck;
    flex-direction: row;
  
    & > .card{
      @extend .mx-3;
      flex: 0 0 40% !important;/*Change to any size you want*/
      max-width: 40%;
    }
  }

.bg-info {
    background-color: #002fff;
}