body {
    background-color: #20243b;
    font-family: Arial, sans-serif;
}
.album-contents {
    background: linear-gradient(to bottom, #20243b, #040A18);
    color: #fff;
}
.card-body {
    background-color: #040A18;
    color: #fff;
}
nav {
    background-color: 221530;
}
.navbar {
    background-color: #040A18;
}
.navbar-bottom {
    background:transparent;
    color: #fff;
}
.selector-for-some-widget {
    box-sizing: content-box;
}   