.card {
    max-width: 800px;
    background-color: #040A18;
    color: aliceblue;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 8px 0 #63e5ff
  }
  
  .content-title {
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  
  .content-details {
      max-width: 800px;
      color: lightsteelblue;
      padding: 20px;
      margin: 30px auto;
      box-shadow: 0 0 8px 0 #63e5ff
  }
  
  .content-details h2 {
      color: light;
    }
  
  .btn {
    margin: 3px;
    padding: 6px;
    color: white;
    box-shadow: 2;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #00ff88b7;
  }
  
  .trailer-btn {
    border: 2px solid silver;
    padding: 15px 26px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .trailer-btn:hover {
    background-color: slategray;
    transform: scale(1.05);
  }
  
  .favorite-btn {
    position: absolute;
    top: 20px;
    right: 2dvh; 
    background-color: transparent; 
    color: #ffffff; 
    border: 2px solid #ffffff;
    border-radius: 50%; 
    width: 35px;
    height: 35px; 
    line-height: 40px;
    text-align: center; 
    font-size: 24px; 
    cursor: pointer; 
    transition: background-color 0.2s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .favorite-btn:hover {
    background-color: #00ff88b7;
    transform: scale(1.1);
  }
  
  .favorite-btn::before {
    content: '+';
  }
  
  .favorite-btn:focus {
    outline: none; 
  }
  
  
  