.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }

  body {
    background-color: #20243b;
    font-family: Arial, sans-serif;
  }
  .album-contents {
      background: linear-gradient(to bottom, #20243b, #040A18);
      color: #fff;
  }
  .card-body {
      background-color: #040A18;
      color: #fff;
  }
  nav {
      background-color: 221530;
  }
  .navbar {
      background-color: #040A18;
  }
  .navbar-bottom {
      background:transparent;
      color: #fff;
  }
  .selector-for-some-widget {
      box-sizing: content-box;
  }   
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }