<div class="topnav">
  <nav *ngIf="router.url !== '/login'" class="navbar navbar-expand-md navbar-expand-lg navbar-dark border-bottom border-info">
    <div class="container">
      <a [routerLink]="['']" class="navbar-brand fw-bold text-info">
        StreamCentral</a>
      <div class="collapse navbar-collapse justify-content-md center" id="navbarNav">
          <ul class="navbar-nav me-auto py-1">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/movies">Movies</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tvshows">TV Shows</a>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link" routerLink="/favorites">Favorites List</a>
            </li>
          </ul>
      </div>
      <div *ngIf="isLoggedIn; else signInButton">
        <button>Logout</button>
      </div>
      <ng-template #signInButton>
        <a href="http://localhost:8080/auth/google" class="btn btn-info">Login</a>
      </ng-template>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
<div class="main">
  <router-outlet />
    <footer class="footer">
      <div class="container-fluid p-5 border-top border-info">
        <p class="text-center">StreamCentral &copy; 2024</p>
      </div>
    </footer>
</div>
