.login-container {
    box-shadow:  0 0 10px #3ce8ffcb;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40%;
    padding: 50px;
    background-color: #040A18;
}
.login-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn {
    font-size: 0.9rem;
    font-weight: 700;
}
.divider {
    margin: 2rem 0;
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}