<section class="results p-4 border-bottom border-info">
  <div class="container py-4">
      <div class="row row-cols-sm-1 row-cols-md-4 row-cols-lg-5 gx-2 gy-2">
          <div *ngFor="let content of results" class="wrapper">
              <div class="col">
                  <div class="card">
                      <a [routerLink]="['content', content.tmdb_id]">
                          <img src={{content.poster}} class="card-img-top" alt="...">
                          <button class="favorite-btn"></button>
                      </a>
                  </div>
                  <h3 class="content-title">{{content.name}}</h3>
              </div>
          </div>
      </div>
  </div>
</section>